*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

header, section h2 {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
} 

header h1{
    font-size: 3.5em;
    font-weight: normal;
}

body, input, textarea {
    font-family: "montserrat", sans-serif;
}

header {
    padding: 1em;
    background-color: rgb(101, 101, 255);
    color: white;
}

header nav li {
    display: inline;
    margin: 1em;
    font-size: 1.7em;
}

header nav li a {
    display: inline;
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.brands img {
    height: 2em;

}

.brands li {
    display: inline;
    margin-right: 1em;
}

section .container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

section {
    padding: 2em 0;
}

section h2 {
    margin: 1em 0;
    font-size: 2.7em;
    font-weight: normal;

}

section {
    color:  rgb(101, 101, 255);
}

section p{
    margin-bottom: 1em ;
}

.store{
    margin: 1em 2em;
}
.social-links img {
    height: 2em ;
}

#contact .container{
    display: block;
}

.contact-method {
    display: flex;
    justify-content: space-between;
}

.contact-method form input, form textarea, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 10px;
}

form textarea{
    resize: none;
}

form button {
    width: 340px;
    background-color:  rgb(101, 101, 255);
    color: aliceblue;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(12, 12, 82);
}

.social-links li {
    display: inline;
    margin-right: 8px;
}
.social-links a {
    text-decoration: none;
}

section h3 {
    margin-bottom: 16px;
}

input:focus, textarea:focus {
    outline-color: rgb(101, 101, 255);
}

footer {
    background-color: rgb(12,12,82);
    color: aliceblue;
    padding: 16px 0;
}